Source: bash-minos-settings
Section: misc
Priority: extra
Maintainer: Javier P.L. <chilicuil@ubuntu.com>
Build-Depends: debhelper (>= 9), dh-exec (>= 0.12)
Standards-Version: 3.9.4
Homepage: https://github.com/minos-org/bash-minos-settings
Vcs-Git: git://github.com/minos-org/bash-minos-settings-deb.git
Vcs-Browser: https://github.com/minos-org/bash-minos-settings-deb.git

Package: bash-minos-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash
Conflicts: diverts-etc++bash.bashrc, diverts-etc++inputrc, diverts-etc++skel++.bashrc
Provides: diverts-etc++bash.bashrc, diverts-etc++inputrc, diverts-etc++skel++.bashrc
Description: Bash tweaks required by minos-core-settings
 This package adds configuration files required by minos-core-settings.
 Some of the modified configuration files are:
 - /etc/bash.bashrc
 - /etc/inputrc
 - /skel/.bashrc
 Other files may be added in the future, see
 https://github.com/minos-org/bash-minos-settings for more details
